html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: #6c6f73;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

::-webkit-scrollbar {
  width: 0px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

.input-box {
  font-size: 20px;
  height: 40px;
  margin-top: 15px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.gtext {
  color: #48cc3f;
}

.navbrand {
  font-weight: 400;
  color: white;
  font-size: 25px;
}

.navbrand:hover {
  color: white;
}

.back-white a:hover {
  color: white !important;
}

.coach:hover {
  text-decoration: none;
}

.player:hover {
  text-decoration: none;
}

.nav_a:hover {
  color: white !important;
}

.nav_a:focus {
  color: white !important;
}

.nav_a {
  font-family: sans-serif !important;
}

.coach:hover {
  color: white !important;
}

.player:hover {
  color: white !important;
}

.navbar-default-home .navbar-nav-home>li>a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
}

.navbar_home {
  background: none;
  border-width: 0px;
  margin-bottom: 0;
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.title_name {
  font-family: 'Helvetica';
  font-size: 40px;
  color: white;
  font-weight: 100 !important;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

a.signin {
  padding-top: 4px;
  border: 2px solid white;
  border-radius: 10px
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  color: white;
  font-weight: bold;
}

.info-text {
  font-size: 18px;
  color: #999999;
}

.soccer {
  padding-top: 50px;
  width: 80%;
}

.darker {
  background-color: #eee !important;
  padding-bottom: 50px;
}

.lighter {
  padding-bottom: 50px;
}

.football {
  width: 80%;
  padding-top: 50px;
}

.feature-content {
  padding: 50px;
}

.darkest {
  background-color: #111;
}

.green {
  background-color: #2D3E51;
  ;
}

.executive {
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.sub_contact {
  color: white;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
}

.contact {
  font-weight: 100;
  color: white;
  font-size: 50px;
  padding-top: 50px
}

.form-group {
  padding-top: 10px;
}

input:focus {
  border-color: #79B50F !important;
}

.sign-in:focus {
  outline-width: 0 !important;
}

.PillList-label {
  border: 1px solid #79B50F;
  border-radius: 20px;
  font-size: 12px;
  color: #79B50F;
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}

.PillList-label-filled {
  background-color: #79B50F;
  border: 1px solid #79B50F;
  border-radius: 20px;
  font-size: 12px;
  color: #FFF;
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}

.PillList-item {
  color: rgb(41, 47, 51);
  cursor: pointer;
  display: block;
  float: left;
  height: 37px;
  text-transform: capitalize;
  column-rule-color: rgb(41, 47, 51);
  perspective-origin: 51.6875px 18.5px;
  transform-origin: 51.6875px 18.5px;
  border: 0px none rgb(41, 47, 51);
  font: normal normal normal normal 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 12px 12px 0px;
  outline: rgb(41, 47, 51) none 0px;
}

/*#LABEL_2*/

.PillList-container {
  align-items: center !important;
  text-align: center !important;
  background-color: #000;
  width: 700px;
  margin: auto;
}

/* width helpers */
.w-100{
	width: 100%;
}
.w-50{
	width: 50%;
}
.w-25{
	width: 25%;
}

/*.nav-sidebar:hover{
	background-color: transparent!important;
}

.nav-sidebar {
	width: 100%;
	padding: 8px 0;
	border-right: 1px solid #ddd;
}
.nav-sidebar a {
	color: #333;
	-webkit-transition: all 0.08s linear;
	-moz-transition: all 0.08s linear;
	-o-transition: all 0.08s linear;
	transition: all 0.08s linear;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}*/

/*.nav-sidebar .active a {
	cursor: default;
	background-color: #79B50F;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
}*/

/*.nav-sidebar .active a:hover {
	background-color: #79B50F;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}*/

.animate-up {
  margin-top: 0px;
  display: inline-block;
  height: 100vh;
  width: 100%;
  animation: skew 0.2s;
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: translate(0px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.physical-self {
  background-color: white;
  box-shadow: 5px 5px 5px #CCC;
  width: 100%;
  float: center;
  margin: auto;
  height: 220px;
  margin-bottom: 30px;
}

.self {
  background-color: white;
  box-shadow: 5px 5px 5px #CCC;
  width: 100%;
  float: center;
  margin: auto;
  height: 240px;
  margin-bottom: 30px;
}

.self_academic {
  background-color: white;
  box-shadow: 5px 5px 5px #CCC;
  width: 100%;
  float: center;
  margin: auto;
  height: 350px;
  margin-bottom: 30px;
}

.feed-body {
  border-style: solid;
  border-color: #CCC;
  border-width: 1px;
  background-color: white;
  box-shadow: 3px 3px 3px #CCC;
}

.feed-padding {
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
}

.searchbar {
  margin-bottom: 15px;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border-style: none;
  font-size: 24px;
}

.searchbar:focus {
  outline-width: 0;
}

.video {
  background-color: white;
  box-shadow: 5px 5px 5px #CCC;
  width: 100%;
  float: center;
  margin: auto;
  height: 250px;
  margin-bottom: 30px;
}

div.bold {
  border-bottom: thick solid #79B50F;
}

div.unbold {
  border-style: none;
}

p.bold {
  font-weight: bold;
}
.text-white{
		color: #fff !important;
}
.text-shadow{
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

p.unbold {
  font-weight: normal;
}

.profile_image_lg {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

@media only screen and (min-width: 900px) and (max-width: 2000px) {
  .table_container {
    margin: auto;
    width: 900px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .table_container {
    margin: auto;
    width: 600px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 2000px) {
  #stage {
    margin: 0px;
    background-color: #2D3E51;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  #stage {
    margin: 0px;
    background-color: #2D3E51;
    background-size: cover;
    color: white;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.search-tag {
  height: 60px;
  width: 60px;
  float: left;
}

.search-body {
  margin-left: 5px;
  float: left;
  width: 295px;
  margin-top: 5px;
  height: 60px;
  background-color: white;
}

.search-body-search {
  margin-top: 10px;
  height: 90px;
  background-color: white;
}

.profile_image_md {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto 0;
  margin-top: 0px;
}

.profile_image_container {
  padding-left: 30px;
  padding-top: 30px;
}

.name {
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
}

.bio-cont {
  text-align: center;
  float: center;
}

.bio {
  font-family: Source Sans Pro, Helvetica;
  font-size: 17px;
  margin-top: 0px;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.hr {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div.flex-container {
  display: flex;
  flex-direction: column;
}

div.search-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

div.search-div:hover {
  background-color: #323C45;
}

h2.search-name {
  margin-top: 10px;
  height: 0px !important;
  font-size: 16px;
  color: #E6F2FF;
  font-family: helvetica, arial, sans-serif;
}

h3.search-extra {
  height: 0px !important;
  font-size: 12px;
  color: #A3ADB7;
  font-family: helvetica, arial, sans-serif;
}

img.search-image {
  margin-left: 5px;
  border-style: solid;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  flex-basis: 50px !important;
  border-width: 2px;
  border-color: #525960;
  object-fit: cover;
}

.search-name-div {
  margin-left: 10px;
  height: 40px !important;
}

.fe-title {
  height: 10px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
  padding-left: 15px;
  font-weight: 300;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.self_stats {
  text-align: center;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
  text-align: center;
  margin-top: 0px;
  height: 15px;
  padding: 0px;
  font-size: 17px;
  font-weight: 400;
}

.self_stats_under {
  font-family: Myriad Pro;
  margin-left: 30px;
  margin-top: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
}

.title_div {
  padding-top: 1px;
  padding-left: 5px;
}

.physical {
  margin-top: 0px;
  height: 15px;
  padding: 0px;
  font-size: 17px;
  font-weight: 200;
}

.section_title {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 15px;
  padding-top: 10px;
  font-size: 30px;
  color: #888;
}

.message-box {
  margin: 30px;
}

.message {
  float: left;
  width: calc(100% - 200px);
  height: 100%;
}

.contact-icons {
  margin-top: 8px;
  float: left;
  color: white;
  font-size: 15px;
  height: 50px;
  font-weight: 100;
}

.contact-icons-image {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.search_profile_image {
  padding: 10px;
  border-radius: 50%;
}

.on-h {
  opacity: 0;
}

.on-h-2:hover .on-h {
  opacity: 1;
}

.module-box {
  width: 99% !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  background-color: #fff !important;
  border-radius: 2px;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check {
  background-image: url(http://csscheckbox.com/checkboxes/lite-green-check.png);
}

input[type=checkbox].css-checkbox.lrg+label.css-label.lrg {
  padding-left: 22px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  font-weight: thin;
  cursor: pointer;
}

input[type=checkbox].css-checkbox.lrg:checked+label.css-label.lrg {
  background-position: 0 -20px;
}

.emailContainer {
  padding: 10px;
}

.notify-badge {
  position: absolute;
  right: 0px;
  top: 5px;
  background: #79B50F;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 5px;
  font-size: 8px;
}

[ng-click], [data-ng-click], [x-ng-click] {
  cursor: pointer;
}

.navbar-nav>li>a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

img.navlogo_hidden {
  margin-left: -100px;
  opacity: 0;
}

img.web_navlogo {
  margin-top: 7px;
  margin-left: 5px;
  opacity: 1;
}

.teen-banner{
	background-size: cover;
	background-position: top right;
}
.teen-banner-lg{
	background-image: url('/images/backgrounds/teen-banner.png');
}
.teen-banner-thin{
	background-image: url('/images/backgrounds/teen-banner-thin.png');
}

.teen-banner-thin-dark{
	background-image: url('/images/backgrounds/teen-banner-thin-dark.png');

}



@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 80px;
  }
  img.web_navlogo {
    margin-top: 15px;
    margin-left: 5px;
    opacity: 1;
  }
}

img.navlogo {
  margin-left: 5px;
  opacity: 1;
}

img.navlogo2 {
  margin-left: 0px;
  opacity: 0;
}

img.navlogo3 {
  margin-left: 0px;
  opacity: 0;
}

button.nav_btn {
  margin-top: 12px;
  margin-right: 20px;
}

.home-nav-list {
  margin-top: 12px;
  margin-left: 4px;
}

.profile-background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cont {
  margin: auto;
  max-width: 1100px;
}

.row {
  padding: 0px;
  width: 100%;
}

.sidebar {
  margin-left: 20px;
  margin-top: 20px;
}

.main-content {}

.allpadding {
  padding: 20px !important;
}

.full-height {
  height: 100%;
}

.module-box {
  width: 99% !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  background-color: #fff !important;
  border-radius: 2px;
}

.background-image {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
  border-radius: 2px;
  height: 205px;
  width: 99% !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay{
		background-color: rgba(0, 0, 0, 0.75);
}
.border-round{
	border-radius: 20px;
}

.main-image-container {
  height: 150px;
  width: 150px;
  margin-top: -75px;
}

.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.label-image {
  align-self: center;
}

.profile_image_lg {
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}

.bio-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.examplead {
  height: 230px;
  width: 99% !important;
  background-image: url('/images/examplead.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}



.bare-button {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #7BB22D;
  color: white;
  font-family: Source Sans Pro;
}

.following-text {
  padding: 10px;
  font-size: 15px;
  font-family: Source Sans Pro;
}

.section-header {
  padding: 10px;
  font-size: 22px;
  font-family: Source Sans Pro;
  color: black;
}

.data-piece {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DFDFDF;
}

.right-piece {
  flex: 3;
}

.left-piece {
  flex: 1;
  background-color: #EFEFEF;
}

.feed-name {
  padding-top: 10px;
  font-family: Source Sans Pro;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
}

.myline {
  width: 100%;
  background-color: #eee;
  height: 1px;
}

.feed-name-div {
  margin-left: 10px;
  height: 50px !important;
}

.feed-image {
  margin-left: 5px;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  flex-basis: 50px !important;
  object-fit: cover;
}

.feed-name {
  padding-left: 0px;
  margin-top: 0px;
  height: 0px !important;
  font-size: 15px;
  color: black;
  font-family: Source Sans Pro;
}

.feed-extra {
  height: 0px !important;
  font-size: 13px;
  color: #999;
  font-family: Source Sans Pro;
}

.feed-header {
  padding-top: 10px;
  display: flex;
}

.feed-el-container {
  padding-left: 10px;
}

.feed-body-new {
  margin-top: 10px;
}

.feed-body-text {
  line-height: 20px;
  font-size: 13px;
  color: #666;
  padding-left: 5px;
  font-family: Source Sans Pro;
}

.feed-main-image {
  height: 300px;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 10px;
  padding-bottom: 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-options {
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.option-container {
  margin-right: 20px;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}

