<style>
  .coaches-table-wrapper {}

  .coaches-table {
    margin: auto;
    width: 85vw;
    height: 52vh;
  }

  @media only screen and (max-width: 991px) {
    .coaches-table-wrapper {}

    .coaches-table {
      margin: auto;
      width: 100vw;
      height: 65vh;
    }

    .buttons-wrap {
      margin: auto;
    }
  }

  .ui-grid-cell:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ui-grid-cell {
    height: 100px !important;
  }

  .ui-grid-cell>img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
</style>
<div ng-controller="CoachesController as $ctrl" class="coaches-table-wrapper">
  <div ui-grid="$ctrl.gridOptions" ui-grid-pagination class="coaches-table">
    <!-- ui-grid-auto-resize -->
  </div>
  <br /><br />
  <div class="container">
    <div class="row buttons-wrap">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 buttons-wrap">
        <div class="row buttons-wrap">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <button ng-disabled="!$ctrl.gridPagination.hasPrevious" type="button" class="btn btn-block btn-success"
              ng-click="previousPage()">
              previous
            </button>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <button ng-disabled="!$ctrl.gridPagination.hasNext" type="button" class="btn btn-block btn-success"
              ng-click="nextPage()">
              next
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p class="text-center h3"><strong>{{ $ctrl.gridPagination.page }}</strong>
        of {{ $ctrl.gridPagination.pages }}</p>
    </div>
  </div>
</div>