<style>
  .purple {
    background-color: purple important;
  }


  @media (max-width: 767px) {

    .jumbotron h1,
    .jumbotron,
    p {
      font-size: 15px !important;
    }

    .jumbotron {
      padding-top: 56px !important;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    .ui-grid-header-cell-row {
      display: none !important;
    }

    .ui-grid-row:nth-child(odd) .ui-grid-cell {
      background-color: transparent !important;
    }

    .ui-grid-row:nth-child(even) .ui-grid-cell {
      background-color: transparent !important;
    }

    .ui-grid-row {
      border: solid 1px #ccc !important;
      border-radius: 15px !important;
      background: #fff !important;
      height: 120px !important;
      margin-bottom: 10px;
    }



    #coach-row {
      /* border: solid 1px #000; */
      width: calc(100vw - 17px)  !important;
      max-width: 100vw !important;
      height: 25px !important;
    }
    .ui-grid-row #coach-row:nth-child(2),
    .ui-grid-row #coach-row:nth-child(3){
      font-weight: bold;
    }
    .ui-grid-row #coach-row:nth-child(2),
    .ui-grid-row #coach-row:nth-child(3),
    .ui-grid-row #coach-row:nth-child(6),
    .ui-grid-row #coach-row:nth-child(7) {
      /* background: red !important; */

      width: calc(50% - 17px)  !important;

    }

    .ui-grid-row {
        border: solid 1px #ccc !important;
        border-radius: 15px !important;
        background: #fff !important;
        width: calc(100vw - 0px);
        height: 123px !important;
        margin-bottom: 10px;
        padding: 16px;

    }

    #coach-row .ui-grid-cell-contents {
      height: 20px !important;
    }
  }
</style>

<!-- This is a row of coach data -->
<!-- You can add classes to it here. You'll probably want to leave ui-grid-cell in there for some of the default styles -->

<div id="coach-row" class="ui-grid-cell purple " ng-click="grid.appScope.handleCoachClick(row)"
  ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ng-class="col.colIndex()"
  ui-grid-cell>

</div>
