< <div ng-controller="CoachesController as $ctrl">
  <div ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-resize-columns class="coaches-table"></div>
  <p>Current page: {{ $ctrl.gridPagination.page }} of {{ $ctrl.gridPagination.pages }}</p>
  <button ng-disabled="!$ctrl.gridPagination.hasPrevious" type="button" class="btn btn-success"
    ng-click="previousPage()">
    previous page
  </button>
  <button ng-disabled="!$ctrl.gridPagination.hasNext" type="button" class="btn btn-success" ng-click="nextPage()">
    next page
  </button>
  </div>