<div style = "width: 100%; height: 100% ; overflow:scroll;  overflow-y: scroll " ng-controller = "CoachForm1Controller">
<div style = "width: 100%; text-align: center;float:left;margin:auto" class = "row">
	<img  style = "width: 60px; padding-top: 10px" src = "images/logo-240.png"></img>
	<hr style = "background-color: #AAA;">
</div>

<input  onchange="angular.element(this).scope().doUpload()" type="file" name="file" id="file" class="inputfile" />
<label  for="file" style = "margin: auto; width: 100%; text-align: center"><img ng-src = "{{profileImage}}" style = "object-fit: cover;border-radius: 50%;margin: auto; float:center; width: 150px;height:150px;" ></img></label>




<div style = "width: 400px; text-align: center; float: center; margin: auto;">


  <div style = "padding-top:15px!important" class="form-group">
  <input ng-model = "bio"  placeholder="Short description of yourself" type="text" class="form-control form-control-success input-box" id="inputSuccess1"></input>
  </div>
  
	<div style = "padding-top:0px!important" class="form-group">
  <input ng-model = "position"  placeholder="Coaching Position" type="text" class="form-control form-control-success input-box" id="inputSuccess1"></input>
	</div>

	<div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "school" style = "margin-top: 15px" placeholder="School" type="text" class="form-control form-control-success input-box" id="inputSuccess1">

	</div>
  <div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "city" style = " margin-top: 15px" placeholder="City" type="text" class="form-control form-control-success input-box" id="inputSuccess1">

  </div>
  <div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "state" style = "margin-top: 15px" placeholder="State" type="text" class="form-control form-control-success input-box" id="inputSuccess1">

  </div>

	
  </div>
  <div style = "text-align: center; padding-bottom: 10px; margin-bottom: 20px"><button ng-click = "next_reg()" style = " width: 400px; margin-top: 15px;" class = "btn btn-success input-box">Continue</button></div>


</div>
</div>