<div style = "width: 100%; height: 100% " ng-controller = "CongratsController">
<div style = "width: 100%; text-align: center; float:left; margin:auto" class = "row">
<img  style = "width: 60px; padding-top: 10px; margin:auto" src = "images/logo-240.png"></img>
<hr style = "background-color: #999;">
</div>

<div style = "width: 400px; margin:auto">
<p style = "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 25px;text-align: center">Welcome to the iConnect2Colleges network! sign in to get started.</p>
<!-- <a href="#" onclick="fb_login();"><img src="images/fb.png" border="0" alt="" style = "width: 100%"></a>

<hr style = "background-color: #666;"> -->
<div style = "padding-top:15px!important" class="form-group {{name_status}}">
<input ng-change = "editing_name()" ng-model = "user.user_email" placeholder="Username/Email" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
<div style = "color: red" ng-hide = "hide_name" >{{name_error}}</div>
</div>
<div style = "padding-top: 0px!important" class="form-group {{username_status}}">
<input ng-change = "editing_username()" ng-model = "user.password" style = "margin-top: 15px" placeholder="Password" type="password" class="form-control form-control-success input-box" id="inputSuccess1">
<div style = "color: red" ng-hide = "hide_username" >{{username_error}}</div>
</div>
<button ng-click = "signin()" style = "padding-bottom: 10px; width: 100%; margin-top: 15px; height: 50px" class = "btn btn-success">Sign in</button>

<br>
<br>
</div>

</div>
</div>