<div style = "width: 100%; height: 100% ; overflow:scroll;  overflow-y: scroll " ng-controller = "ConnectController">

<div style = "width: 100%; text-align: center; float:left; margin:auto" class = "row">
	<img  style = "width: 120px; padding-top: 10px; margin:auto" src = "images/logo-240.png"></img>
	<hr style = "background-color: #AAA;">

</div>

<div style = "width: 900px; margin:auto">
	<p style = "font-family: 'Helvetica-light'; font-size: 40px; color: black; text-align: center">Connect with friends!</p>
	<hr style = "background-color: #AAA;">

<!-- <img ng-click = "facebook_oauth()" src="images/fb.png" border="0" alt="" style = "width: 100%; padding-bottom: 10px"> -->
<div style ="float:left; width: 33%; "><img ng-click = "google_oauth()" src="images/google_button.png" border="0" alt="" style = "width: 100%; margin:auto; padding-right: 5px">
</div>
<a href="" ng-click="onStripe('pk_test_E3pXUyXpsl0FmYgPAlLqVTFN')">Stripe Checkout via angularjs</a>
<div style ="float:left; width: 33%; "> <button ng-click = "next_reg()" style = "padding-bottom: 10px; width: 100%; height: 45px; float: left; padding-left: 5px; margin-left: 5px;" class = "btn btn-success">Continue</button>
</div>


<br>
<br>
<br>



</div>

    

<div class = "table_container">
<div ng-repeat = "friend in friend_list track by $index">

<div class = "search-body has-feedback" ng-click = "addEmail($index)">
        <div class = "search-tag" >
          <img src = "images/google_default.png" style = "float: left; height: 60px; width: 60px; object-fit: cover;" class = "search_profile_image"></img>
        </div>
        <div class = "person_info" style = "width: 180px; float: left">
          <p style = "font-weight: bold; font-size: 11px; float: left; width: 100%; margin-top: 10px; height: 10px;">{{friend.name}}</p>
          <p style = "font-size: 9px; float: left; width:100%; color: #999;">{{friend.email}}</p>
        </div>
        
        <i  ng-hide = "not_sending_email[$index]" style = "color: green; margin-top:10px;" class="glyphicon glyphicon-ok form-control-feedback"></i>
 
        </div>
</div>
</div>


</div>