<style>
h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
p{
	font-size: 20px;
}
body{
	background-color: #FFFFFF!important;
}
</style>
<!-- Templates -->
<script type="text/ng-template" id="myPopoverTemplate.html">

			 <div  class="form-group" style = "width: 200px; margin-top: 0px; padding-top: 0px;">
					<label style = "color: red;">{{login_error_text}}</label>
					<label>Email/Username</label>
					<input ng-model = "user.user_email" type="text" class="form-control">
					<label>Password</label>
					<input ng-model = "user.password" type="password" class="form-control">
					<input type="submit" class = "btn btn-success" ng-click = "signin()" style = "width: 100%; margin-top: 15px;"></input>
				</div>
				<div style = "text-align: center">
		<a ng-click = "forgotPassword()" style = "font-size: 10px;">Forgot password?</a>
		</div>
</script>

<!-- Content -->
<div  ng-controller = "HomeController" id="scroll"  style = "width:100%; overflow: auto; height:100vh;overflow-x: hidden; font-family: 'Roboto Condensed', sans-serif;">
<nav id = "nav_orig" class="navbar navbar-default navbar-default-2 navbar-default-home navbar-fixed-top navbar_home" style = "background-color: #232A31">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-nav-home navbar-right">
				<li style="margin-top: 12px;"><a class="nav_a" href="#!/home#about">About</a></li>
				<li style="margin-top: 12px;"><a class="nav_a hidden-xs" href="#!/home#testimonials">Testimonials</a></li>
				<li style="margin-top: 12px;"><a class="nav_a hidden-xs" href="#!/home#pricing">Pricing</a></li>
				<li style="margin-top: 12px; margin-left: 5px;"><a class="nav_a" href="#!/mission_statement">Mission
						Statement</a></li>
				<li style="margin-top: 12px; margin-left: 5px;"><a class="nav_a hidden-xs" href="#!/privacy">Privacy Policy</a></li>
				<li style="margin-top: 12px; margin-left: 5px; margin-right: 5px;"><a class="nav_a hidden-xs" href="#!/contact"
						style="font-weight: 300;">Contact</a></li>
				<li>
					<button popover-placement="bottom-right" uib-popover-template="template" popover-title="Sign in"
						type="button" class="nav_btn btn btn-success btn-sm sign-in">Sign In</button>
				</li>
			</ul>
		</div>
	</div>
</nav>



<div class = "container" style = "padding-top: 100px;">
	<h1>Contact Us</h1>
Our normal business hours are 9am-8pm Eastern StandardTime, Monday-Friday, and you can expect a response from one of our team members within 24 hours during this time. <br>

Emails received after hours on Friday or over the weekend, will receive a response on Monday. <br>

Please note the best way to reach us is by emailing contact@iconnect2colleges.com <br>

</div>
