
<div ng-controller = "FeedController" style = "height: 100%;overflow:scroll;  overflow-y: scroll;">




<div ng-controller = "FeedController" class = "animate-show" style = "overflow:scroll;  overflow-y: scroll; ">
   

   <div class = "cont">
  <div class = "row full-height" >
      <div class = "col-sm-8 col-md-8 col-lg-8 full-height">
        <div class = "scroll-container">
        <div class = "sidebar">


    <!--      <div class = "module-box">
                
            Enter a post
          </div>
 -->
<!--           <hr> -->


         <div  ng-repeat= "element in feed track by $index">


         <div class = "module-box">
    <!--         <h1 class = "feed-name" ng-click = "usernameClicked($index)">{{element.user.name}}</h1> 
            <div class = "myline"></div>    -->
               <div class = "feed-el-container">
                     <div ng-click = "usernameClicked($index)"  class = "feed-header">
                    
                            <img class = "feed-image" src = "{{element.user.profileImage}}" ></img>
                            <div class = "feed-name-div">
                                <h2 class = "feed-name">{{element.user.name}}</h2>
                                <h3 class = "feed-extra">{{element.user.sport}}</h3>
                            </div>

                     </div>

                     <div class = "feed-body-new">
                           <h2 class = "feed-body-text">{{element.text}}</h2>
                     </div>


                     <div style = "text-align: center;">
                        <div ng-hide = "{{element.image == '' || element.image == null}}" class = "feed-main-image"  style = " background-image: url('{{element.image}}');"></div>
                     </div>
                     <div style = "text-align: center; align-items: center;">
                        <iframe  class = "feed-video "ng-init="setWidth()" id = "video" ng-hide = "{{element.video == '' || element.video == null}}" frameBorder="0"  ng-src="{{element.video}}"></iframe>
                     </div>


                     <br><div class = "myline"></div>


                     <div class = "post-options">
                        <div class = "option-container">
                           <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;&nbsp;Like
                        </div>

                         <div class = "option-container">
                           <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;Share
                        </div>

                         <div class = "option-container">
                           <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;Flag
                        </div>
                     </div>
                  </div>
                  
            
          </div>

    <br>

       </div>

      </div>

      </div>

   </div>
      <div class = "col-sm-4 col-md-4 col-lg-4 hidden-xs allpadding">
        <div class = "main-content">

          <div class = "module-box">
                <!--TEMP -->
                <div class = "examplead"></div>
          </div>
   
          <div class = "module-box">
                <!--TEMP -->
                <h2 class = "following-text">Active Competitions (0)</h2>
                <hr>

          </div>
            

        </div>
      </div>
  </div>



</div>
</div>


