<div style = "width: 100%; height: 100% " ng-controller = "ForgotPasswordController">
<div style = "width: 100%; text-align: center; float:left; margin:auto" class = "row">
	<img  style = "width: 60px; padding-top: 10px; margin:auto" src = "images/logo-240.png"></img>
	<hr style = "background-color: #999;">
</div>

<div style = "width: 400px; margin:auto">
<p style = "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 25px;text-align: center">Reset your password</p>
<!-- <a href="#" onclick="fb_login();"><img src="images/fb.png" border="0" alt="" style = "width: 100%"></a>

<hr style = "background-color: #666;"> -->
    <div style = "padding-top: 0px!important" class="form-group {{password_status}} has-feedback">
  <input ng-change = "editing_password()" ng-model = "password" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Password" type="password" class="form-control form-control-success" id="inputSuccess1">
  <i ng-hide = "user.check[3]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
  <div style = "color: red" ng-hide = "hide_password" >{{password_error}}</div>
  </div>
    <div style = "padding-top: 0px!important" class="form-group {{confirm_status}} has-feedback">
  <input ng-change = "editing_confirm()" ng-model = "confirm" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Confirm Password" type="password" class="form-control form-control-success" id="inputSuccess1">
  <i ng-hide = "user.check[4]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
  <div style = "color: red" ng-hide = "hide_confirm" >{{confirm_error}}</div>
  <button ng-click = "submit()" style = "padding-bottom: 10px; width: 100%; margin-top: 15px; height: 40px" class = "btn btn-success">Change Password</button>

  <br>
  <br>
</div>

</div>
</div>