<style>
	* {
		box-sizing: border-box;
	}

	/* Create three columns of equal width */
	.columns {
		float: left;
		width: 50%;
		padding: 8px;
	}

	/* Style the list */
	.price {
		list-style-type: none;
		border: 1px solid #eee;
		margin: 0;
		padding: 0;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}

	/* Add shadows on hover */
	.price:hover {
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
	}

	/* Pricing header */
	.price .header {
		background-color: #111;
		color: white;
		font-size: 25px;
	}

	/* List items */
	.price li {
		border-bottom: 1px solid #eee;
		padding: 20px;
		text-align: center;
	}

	/* Grey list item */
	.price .grey {
		background-color: #eee;
		font-size: 20px;
	}

	/* The "Sign Up" button */
	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
	}

	/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
	@media only screen and (max-width: 600px) {
		.columns {
			width: 100%;
		}
	}

	.version-text {}
</style>




<script type="text/ng-template" id="myPopoverTemplate.html">
	<div class="form-group" style="width: 200px; margin-top: 0px; padding-top: 0px;">
		<label style="color: red;">{{login_error_text}}</label>
		<label>Email/Username</label>
		<input ng-model="user.user_email" type="text" class="form-control">
		<label>Password</label>
		<input ng-model="user.password" type="password" class="form-control">
		<input type="submit" class="btn btn-success" ng-click="signin()" style="width: 100%; margin-top: 15px;"></input>
	</div>
	<div style="text-align: center">
		<a ng-click="forgotPassword()" style="font-size: 10px;">Forgot password?</a>
	</div>
</script>
<div ng-controller="HomeController" id="scroll"
	style="width:100%; overflow: auto; height:100vh;overflow-x: hidden; font-family: 'Roboto Condensed', sans-serif;">
	<nav id="nav_orig" class="navbar navbar-default navbar-default-2 navbar-default-home navbar-fixed-top navbar_home"
		style="background-color: #232A31">
		<div class="container-fluid">

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-nav-home navbar-right">
					<li style="margin-top: 12px;"><a class="nav_a" href="#!/home#about">About</a></li>
					<li style="margin-top: 12px;"><a class="nav_a hidden-xs" href="#!/home#testimonials">Testimonials</a></li>
					<li style="margin-top: 12px;"><a class="nav_a hidden-xs" href="#!/home#pricing">Pricing</a></li>
					<li style="margin-top: 12px; margin-left: 5px;"><a class="nav_a" href="#!/mission_statement">Mission
							Statement</a></li>
					<li style="margin-top: 12px; margin-left: 5px;"><a class="nav_a hidden-xs" href="#!/privacy">Privacy Policy</a></li>
					<li style="margin-top: 12px; margin-left: 5px; margin-right: 5px;"><a class="nav_a hidden-xs" href="#!/contact"
							style="font-weight: 300;">Contact</a></li>
					<li>
						<button popover-placement="bottom-right" uib-popover-template="template" popover-title="Sign in"
							type="button" class="nav_btn btn btn-success btn-sm sign-in">Sign In</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="stage">
		<div id="stage-caption">
			<img src="images/logo-noa.png" height="120" />
			<h1 class="display-3" style="color: white; margin-top: 40px">ICONNECT2COLLEGES</h2>
				<h3 class="display-3" style="color: white; margin-top: 40px">Explore our powerful database of 25,000 current college head coaches of all sports.</h2>
					<div class="row" style="margin-top: 10px; margin-left:1px">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="margin-top: 15px; text-align: center; ">
							<div style=" border-width: 2px; border-style: solid;border-radius: 5px; height:170px;">
								<h1 style="font-size: 50px">1</h1>
								<h4 style="color: white; padding:5px">
									Join our team
								</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 15px; text-align: center; ">
							<div style=" border-width: 2px; border-style: solid;border-radius: 5px; height:170px;">
								<h1 style="font-size: 50px">2</h1>
								<h4 style="color: white; padding:5px">
									Create your athletic profile
								</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 15px; text-align: center; ">
							<div style=" border-width: 2px; border-style: solid;border-radius: 5px; height:170px;">
								<h1 style="font-size: 50px">3</h1>
								<h4 style="color: white; padding:5px">
									Search & connect to the
									coach of your choice
								</h4>
							</div>
						</div>
						<div class="col-lg-16 col-md-16 col-sm-16" style=" text-align: center">
							<button ng-click="startRegistration()" class="btn btn-success"
								style="margin-top: 50px;margin-right: 10px; font-size: 20px">Athlete Join Now</button>
							<button ng-click="startRegistration()" class="btn btn-success"
								style="margin-top: 50px;margin-left: 10px; font-size: 20px">Parent Join Now</button>
						</div>

					</div>
		</div>
	</div>
	<section class="lighter" id="about" name="about">
		<div class="container">
			<div class="row">
				<div class="feature-content">
					<div class="col-lg-10 col-md-10 col-sm-12">
						<h1><span style="font-weight: 200;">What is</span> <span style="font-weight: bold">Iconnect2colleges?</span></h1>
						<p class="info-text">Thousands of student athletes have successfully connected to college coaches by utilizing our services. Our interactive platform is loaded with over 25,000 coaches and 20 different sports for both genders. By having a user friendly interface athletes have the ability to search by sport, ncaa division and the state of their choosing.</p>
						<p class="info-text">
							That’s correct... No more searching twitter or creating a profile with video footage and waiting for a coach to seek you out. We have put the power in your hands to seek out the coaches you want to connect with.</p>
					</div>
					<div class="cleartext"></div>
					<div class=" hidden-sm col-lg-2 col-md-2 hidden-xs">
						<img class="football" src="images/football.png"></img>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="darker">
		<div class="container">
			<div class="row">
				<div class="feature-content">
					<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
						<img class="soccer" src="images/soccer.png"></img>
					</div>
					<div class="cleartext" />
					<div class="col-lg-10 col-md-10 col-sm-12">
						<h1><span style="font-weight: 200;"> Preparing Athletes to </span> <span
								style="font-weight: bold">Connect</span></h1>
						<p class="info-text">Regardless of your gender and your ability or if you live in a major city with millions
							of people or a small town with one stop light, our platform levels the playing field.</p>
						<p class="info-text">So again, are you serious about playing sports in college? If the answer is YES, join
							now, create a profile and get started on connecting to the college coaches of your choice. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="cleartext" />
	<section class="green" name="testimonials" id="testimonials">
		<div class="row" style="padding: 50px">
			<h1 style="text-align: center; color: white">Testimonials</h1>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 style="color: white; padding: 15px; background-color: #212F3E; border-radius: 5px;">
					"My son, Trevor, used Iconnect2colleges his junior year (2016) and with the guidance and tips provided he
					received a full basketball scholarship to Johnson C. Smith University."
					<span style="color: white; opacity: 0.5">-Shyrelle Scott</span>
				</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 style="color: white; padding: 15px; background-color: #212F3E; border-radius: 5px;">
					"Despite me setting several indoor track records at my high school in Danville, Virginia, and being highly
					recruited, I still became a member of iconnect2colleges so I could expand my opportunities. I am proud to say
					I received a track scholarship to attend Radford University"
					<span style="color:white; opacity: 0.5">-Talasjah Weathersby</span>
				</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 style="color: white; padding: 15px; background-color: #212F3E; border-radius: 5px;">
					"I joined iconnect2colleges my senior year in high school because I felt I did not get the offers I deserved.
					After using the platform for two years I can proudly say that I recently signed a letter of intent to play
					basketball at North Carolina Central University."
					<span style="color: white; opacity: 0.5">-MJ Melvin</span>
				</h3>
			</div>
		</div>
	</section>

	<section class="darker" name="pricing" id="pricing">
		<div class="row" style="margin-left: 1px">
			<div class="columns" style="padding: 10px;" ng-click="startRegistration()">
				<ul class="price">
					<li class="header" style="background-color: #2D3E51;">Monthly</li>
					<li class="grey">$ 19.99 / month</li>
					<li>Althlete Profile</li>
					<li>Access to School Program Info</li>
					<li>Follow School Programs</li>
					<li>9x More Exposure to Coaches</li>
					<li>Send Emails to Coaches</li>
					<li>Invite Coaches to View Your Profile</li>
					<li>See Coaches Interested In You</li>
				</ul>
			</div>
			<div class="columns" style="padding: 10px" ng-click="startRegistration()">
				<ul class="price">
					<li class="header" style="background-color: #4CAF50;">Yearly</li>
					<li class="grey">$ 99.99 / Year</li>
					<li>Althlete Profile</li>
					<li>Access to School Program Info</li>
					<li>Follow School Programs</li>
					<li>9x More Exposure to Coaches</li>
					<li>Send Emails to Coaches</li>
					<li>Invite Coaches to View Your Profile</li>
					<li>See Coaches Interested In You</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="green" name="contact" id="contact">
		<div class="row">
			<p style="text-align: center; color: white; margin-top: 10px; margin-bottom: 10px;">© ICONNECT2COLLEGES 2019. All
				Rights Reserved</p>
			<p style="text-align: center; padding: 0px; ">v{{ appVersion }}</p>
		</div>
	</section>

</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	$("#scroll").ready(function () {
		var scroll_start = 0;
		var startchange = $('#nav_orig');
		var offset = startchange.offset();
		if (startchange.length) {
			$("#scroll").scroll(function () {
				scroll_start = $(this).scrollTop();
				$("#navlogo").css('margin-left', '' + String(parseInt(-1 * Math.exp(-1 * scroll_start / 100 + 7) + 5)) + 'px');
				$("#navlogo").css('opacity', "1");
				$("#navlogo2").css('opacity', "1");
				$("#navlogo3").css('opacity', "1");

				if (scroll_start < 10) {

					var op = ".0" + String((parseInt(scroll_start)))

					$(".navbar-default-2").css('background-color', 'rgba(35,42,49,' + op + ')');
				} else if (scroll_start < 100) {
					var op = "." + String((parseInt(scroll_start)))

					$(".navbar-default-2").css('background-color', 'rgba(35,42,49,' + op + ')');
				} else {
					$(".navbar-default-2").css('background-color', 'rgba(35,42,49,1.0)');
				}

			});
		}
	});
</script>