<style>

.profile-image{
  width: 50px; 
  height:50px; 
  object-fit: cover; 
  float: center; 
  border-radius: 50%;
}

.search_image{
  width: 30px; float: left; margin-left: 10px; margin-top: 10px; 
}
.search_text{
  font-size: 22px;width: 170px; float: left; margin-left: 10px;margin-top: 10px;
    border-style: none;
}
.search_text:focus{
  outline-width: 0; 
  border-color: transparent;
  border-style: none;
}

.message-input:focus {

  outline-width: 0;
  outline-color: transparent;
}

.people{
  float:left;
  width: 300px;
  height: calc(100vh - 100px);
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
}

.head_title{
  float: left;
  width: calc(100% - 300px);
  background-color: white;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-left-style: none;
  border-color: #CCC;
}

.message_body{
  overflow-y: scroll;
  padding: 10px;
  height: calc(100vh - 300px);
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  border-left-style: none;
  border-top-style: none;
  border-bottom-color: #79B50F;
  border-bottom-width: 3px;
  background-color: white;
}

.bottom-input{
  width: 100%;
  height: 200px;
}

.message-input{
  font-size: 18px;
   vertical-align: top;
  padding: 5px;
   resize: none;
  width: calc(100% - 300px);
  height: 70px;
  border-width: 1px;
  border-color: #CCC;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: none;
  border-top-style: none;
}

.message_options{
  background-color: white;
  height: 30px;
  border-width: 1px;
  border-color: #CCC;
  border-right-style: solid;
  border-bottom-style: solid;
}

.send_button{
  background-color: white;
  font-weight: bold;
  float: right;
  color: #79B50F;
  border-style: none;
}

.send_button:focus{
  outline-width: 0;
}

.wrapper {
  float:bottom;
  width: calc(100vw - 300px);
  height: calc(100vh - 325px);
  display: table-cell!important;
  vertical-align: bottom!important;
}

.one_message{
  overflow:auto; 
}

.to{
  float:left;
  max-width: 75%;
  padding:10px;

  border-radius: 5px;
  margin: 5px;
  margin-left: 10px;
  background-color: #EEE;
}

.from{
  float: right;
  max-width: 50%;
  padding:10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #defca9;
}

.chat-selected{
  border-left-style: solid; border-left-width: 5px; border-left-color: #79B50F;
}

.addmessage{
  margin-top: 12px;
  margin-right: 12px;
  width: 30px;
  float: right;
}

.dot{
  width: 11px; 
  height: 11px; 
  background-color:#79B50F;
  border-style: none;
  border-radius: 50%
}
.full-control{
  width: 100%;
  height: 100%;
}
</style>


<div class = "full-control" ng-controller = "MessagesController">
  <div ng-init = "messages()" class = "container animate-up">
  <div style = "text-align: center; margin-top: 50px" ng-hide = "no_messages_hidden">
  <img src = "images/empty.png" style = "width: 200px">
  <p style = "font-size: 30px; color: #BBB; margin-top: 20px">You have no messages</p>
  </img>
  </div>
  	<div class = "row message-box" ng-hide = "messages_hidden">
      <div class = "people" style = "background-color:white;">
      <div style = "background-color: white;">
        <img src = "images/search.png" class = "search_image"><input  ng-model = "search_text" ng-change = "newMessageChanged()"  placeholder = "New Message" class = "search_text"></input></img>
        <img src = "images/newmessage.png" class = "addmessage" ng-click = "gosearch()"></img>
        <br>
        <br>
      </div>
      <br>


      <div  ng-hide = "!searching" ng-repeat = "person in search_people" class = "row">
        <div style = "height: 100px; margin-left: 15px;" ng-click = "message(person.id)">
             <hr style = "margin-top: 0px;">
              <div class = "col-lg-3 col-md-3 col-sm-3" style = "text-align: center" >
              <img src = "{{person.profileImage}}" class = "profile-image"></img>
              </div>
              <div class = "col-lg-9 col-md-9 col-sm-9" style = "padding-left: 10px;">
              <h1 style = "font-size: 15px; font-weight: bold; margin-top: 0px;">{{person.name}}</h1>

              <div class = "last_message" style = "float: left; height: 40px; width: 90%;  text-overflow: ellipsis; overflow: hidden;">{{person.bio}}</div>

              
              </div>
          </div>
    


      </div>
  		  <div ng-hide = "searching" ng-repeat = "person in people" class = "row">
          
          <div style = "height: 100px; margin-left: 15px; " class = "{{person_selected(person.index)}}"  ng-click="change_person(person.index)" >
             <hr style = "margin-top: 0px;">
  		        <div class = "col-lg-3 col-md-3 col-sm-3" style = "text-align: center" >
              <img src = "{{person.image}}" class = "profile-image"></img>
              </div>
              <div class = "col-lg-9 col-md-9 col-sm-9" style = "padding-left: 10px;">
  				    <h1 style = "font-size: 15px; font-weight: bold; margin-top: 0px;">{{person.name}}</h1>

  				    <div class = "last_message" style = "float: left; height: 40px; width: 90%;  text-overflow: ellipsis; overflow: hidden;">{{person.last_message}}</div>

              <div style = "width: 5%; float: left"><div ng-hide = "person.seen && person.seen != 0" class = "dot"></div></div>
              </div>
          </div>
  		  </div>
  	 </div>
                <div class = "head_title" style = "float: left;">
                <div  style = "text-align: center; width: 100px; height: 100px; padding: 15px; float: left" >
                  <img src = "{{selected_person.image}}" style= "width: 70px;height: 70px; object-fit: cover;float: center; border-radius: 50%;"></img>
                  </div>

                  <div style = "padding-left: 10px; float: left; width:  100% - 100px;">
                      <h1 style = "font-size: 25px; margin-top: 0px; margin-top: 15px;">{{selected_person.name}}</h1>
                      <div>{{selected_person.position}}</div>
                  </div>

              </div>

              <div class = "message_body">
                <div class = "wrapper">
                  <div ng-repeat = "message in selected_person.messages">
                    <div class = "one_message">
                      <p class = "{{message.dir}}">{{message.text}} </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "bottom-input">
                <textarea ng-model = "message_text" type = "textarea" class = "message-input" placeholder="Enter your message here"></textarea>
                  <div class = message_options>
                    <button ng-click = "send_message()" class = "send_button">Send</button>
                  </div>
              </div>
             </div> 
    </div>
  </div>
</div>
