<style>
  nav {
    background-color: #232A31 !important;
  }

  .nav_a_text {
    font-weight: 700 !important;
    font-family: helvetica, arial, sans-serif;
    color: #BBB !important;
  }

  .notif-button {
    background-color: transparent;
    border-style: none;
    margin-left: 10px;
  }

  .bell-icon {
    height: 20px;
    margin-top: 13px;
  }

  .dropdown-notif {
    margin-top: 15px !important;
  }

  .single-notif {
    height: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
  }

  .notif-image {
    object-fit: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .notif-block {
    height: 200px;
    width: 250px;
    overflow: scroll;
  }

  .notif-body {
    height: 40px;
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
  }

  .notif-name {
    height: 20px;
  }

  .notif-date {
    height: 20px;
    color: #999;
  }

  .search-input:focus {
    outline: none !important;
    outline-width: 0;
    box-shadow: none !important;
    outline-color: white !important;
    border-color: #CCC !important;
  }

  .search-input {
    margin-left: 10px;
    border-right-width: 0px;
    background-color: transparent !important;
    color: #DDD;
  }

  .search-submit {
    border-width: 1px !important;
    border-color: #ccc;
    border-left-width: 0px !important;
    background-color: transparent !important;
  }

  .search-submit-small {
    border-width: 1px !important;
    width: 40px;
    border-color: #ccc;
    background-color: transparent !important;
    margin-top: 15px;
    margin-left: 20px;
  }

  .white,
  .white i {
    color: #fff;
  }

  .input-group {
    width: 40vw;
  }

  @media screen and (min-width: 768px) {
    .input-group {
      width: 500px !important;
    }
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-nav>li,
  .navbar-nav {
    float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right !important;
  }

  .small-header {
    width: 40px !important;
  }

  .user-button {
    height: 50px;
    background-color: transparent;
    border-style: none;
    color: white
  }

  .full-width {
    width: 100%;
  }

  .search-submit:hover,
  .search-submit:focus,
  .search-submit:active {
    border-color: #CCC;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }




  @media screen and (min-width: 768px) {

    .modal-dialog {
      position: absolute;
      top: -38px;

      width: 463px;
      left: 84px;
    }

  }



  .modal-body {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }

  .change-size {
    width: 100% !important;
  }
</style>

<!-- Templates -->
<script type="text/ng-template" id="searchbarmodal.html">
	   <div class="modal-body" id="modal-body" style = "background-color: #242B31"> 
			
			<button style="display: none;" uib-dropdown-toggle id = "searchbar"></button>
			<div  class="input-group change-size">
			  <input  type="text" class="form-control search-input"   placeholder="Search for State, Coaches, Colleges and Universities" ng-model ="input.searchText" ng-change="searchTextChanged()" autofocus>
				<div class="input-group-btn search-submit">
				  <button  id = "searchoverlay" class="btn search-submit" type="submit"><i class="glyphicon glyphicon-search white"></i></button>
				</div>
			</div>
	  

			<div class = "flex-container">
					<div ng-click = "view_profile(user.username)" class = "search-div" ng-repeat = "user in users">
							<img class = "search-image" src = "{{user.profileImage}}" ></img>
							<div class = "search-name-div">
								<h2 class = "search-name">{{user.name}}</h2>
								<h3 class = "search-extra">{{user.sport}} &#183; {{user.highschool}}</h3>
							</div>
					</div>
			</div>
		</div>
</script>


<nav class=" navbar navbar-default navbar-default-2 navbar-default-home navbar-static-top navbar_home navbar-fixed-top"
  ng-controller="NavController">
  <div class="container-fluid">

    <!-- Header -->
    <div class="navbar-header small-header hidden-xs">
      <img src="images/logo-noa.png" id="navlogo" class="web_navlogo" height="35" />
    </div>

    <div class="hidden-xs col-xs-0 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <!--Search bar dropdown -->
      <!-- <form class="navbar-form" role="search">
        <button style="display: none;" uib-dropdown-toggle id="searchbar"></button>
        <div class="input-group input-group-standard">
          <input type="text" class="form-control search-input"
            placeholder="Search for State, Coaches, Colleges and Universities" ng-model="input.searchText"
            ng-change="searchTextChanged()" ng-click="toggleopen()">
          <div class="input-group-btn search-submit">
            <button class="btn search-submit" type="submit"><i class="glyphicon glyphicon-search white"></i></button>
          </div>
        </div>
      </form> -->
    </div>

    <!-- right -->
    <ul class=" nav navbar-nav navbar-right">
      <!-- Tabs -->
      <!-- <li ng-hide="not_logged_in" class="home-nav-list hidden-sm hidden-md hidden-lg hidden-xl"><a
          ng-click="toggleopen()" class="nav_a nav_a_text">Search</a></li> -->
      <li ng-hide="not_logged_in" class="home-nav-list"><a ng-click="set_active1()" class="nav_a nav_a_text">My
          Profile</a></li>

      <!-- Notifications Dropdown -->
      <li ng-hide="not_logged_in" class="dropdown">
        <div ng-hide="not_logged_in" class="btn-group" uib-dropdown>
          <button ng-click="view_notifications()" id="single-button" class="notif-button" uib-dropdown-toggle
            ng-disabled="disabled">
            <span ng-hide="badge_count == 0" class="notify-badge">{{badge_count}}</span>
            <img class="bell-icon" src="images/bell.png"></img>
            </span>
          </button>
          <ul class="dropdown dropdown-notif" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <div class="notif-block">
              <div ng-repeat="n in notif" class="single-notif">
                <li>
                  <img ng-src="{{n.user.profileImage}}" class="notif-image"></img>
                  <div class="notif-body">
                    <div class="notif-name">
                      {{n.user.name}} {{n.text}}
                    </div>
                    <div class="notif-date">
                      {{n.createdAt}}
                    </div>
                  </div>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </li>

      <!-- Log out/settings dropdown -->
      <li class="dropdown" ng-hide="not_logged_in">
        <div class="btn-group" uib-dropdown>
          <button class="user-button" id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
            {{user}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="#">Sign out</a></li>
            <li role="menuitem"><a href="#!/settings">Settings</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>