<div style = "width: 100%; height: 100%;overflow: auto; " ng-controller = "PlayerForm3Controller">
<div style = "width: 100%; text-align: center;float:left;margin:auto" class = "row">
	<img  style = "width: 60px; padding-top: 10px" src = "images/logo-240.png"></img>
	<hr style = "background-color: #AAA;">
</div>



<div style = "text-align: center;"><img style = "width: 400px" src = "images/progress3.png"></img></div>

<div style = "text-align: center"><h1 style = "font-size: 30px">Schools I'm interested In</h1></div>
<div class="form-group" style = "width: 700px; margin: auto; margin-top: 10px!important; padding-top: 20px;padding-bottom: 20px">
       <input type="text" class="form-control" placeholder="Search for a school" ng-model = "search">
 </div>
<div style = "text-align: center; float:center" class = "PillList-container">
<label class="PillList-item" ng-repeat = "n in colleges |  filter: searchq | limitTo: 20">
  <span ng-click="check(n)" class="{{highlight(n)}}">
  {{n}}
  </span>
</label>

</div>
<br>
<br>
<br>

<div style = "float: right; text-align: center; padding-bottom: 20px; width:100%">
 <button ng-click = "next_reg()" style = "padding-bottom: 10px; width: 700px; height: 50px; float:center" class = "btn btn-success">Continue</button>
 </div>

</div>