<div style = "width: 100%; height: 100%;overflow: auto; " ng-controller = "PlayerForm1Controller">
	<div style = "width: 100%; text-align: center;float:left;margin:auto" class = "row">
		<img  style = "width: 60px; padding-top: 10px" src = "images/logo-240.png"></img>
		<hr style = "background-color: #AAA;">
	</div>

	<div class ="row">
		<div style = "text-align: center; margin-bottom: 20px"><img style = "width: 400px" src = "images/progress1.png"></img></div>
		<input  onchange="angular.element(this).scope().doUpload()" type="file" name="file" id="file" class="inputfile" />
		<label  for="file" style = "margin: auto; width: 100%; text-align: center"><img ng-src = "{{profileImage}}" style = "object-fit: cover;border-radius: 50%;margin: auto; float:center; width: 150px;height:150px;" ></img></label>

<!-- <img src = "images/upload_pic.png" style = "width: 250px;" ></img> -->


		<div style = "width: 400px; margin: auto; ">
			<div style = "padding-top:15px!important" class="form-group">
				<input ng-model = "bio"  placeholder="Short description of yourself" type="text" class="form-control form-control-success input-box" id="inputSuccess1"></input>
			</div>
			<div style = "padding-top:0px!important" class="form-group">
				<input ng-model = "city" placeholder="City" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "state" style = "margin-top: 15px" placeholder="State" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "school" style = "margin-top: 15px" placeholder="High School" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "sport" style = "margin-top: 15px" placeholder="Sport" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "CoachName" style = " margin-top: 15px" placeholder="Coach's Name" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "CoachEmail" style = "margin-top: 15px" placeholder="Coach's Email" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<div style = "padding-top: 0px!important" class="form-group">
				<input ng-model = "CoachPhone" style = "margin-top: 15px" placeholder="Coach's Phone" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
			</div>
			<button ng-click = "next_reg()" style = "padding-bottom: 10px; width: 100%; margin-bottom: 20px;" class = "btn btn-success input-box">Continue</button>
		</div>
	</div>
</div>