<div style = "width: 100%; height: 100%;overflow: auto; " ng-controller = "PlayerForm2Controller">
<div style = "width: 100%; text-align: center;float:left;margin:auto" class = "row">
	<img  style = "width: 60px; padding-top: 10px" src = "images/logo-240.png"></img>
	<hr style = "background-color: #AAA;">
</div>


<div style = "text-align: center; margin-bottom: 20px"><img style = "width: 400px" src = "images/progress2.png"></img></div>
<div style = "width: 400px; text-align: center; float: center; margin: auto;">
	<div style = "padding-top:0px!important" class="form-group">
  <input ng-model = "position" placeholder="Position" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
	</div>

	<div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "height" style = "margin-top: 15px" placeholder="Height (inches)" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
	</div>

	<div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "weight" style = "margin-top: 15px" placeholder="Weight (lbs)" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
  </div>
  <div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "age" style = "margin-top: 15px" placeholder="Age" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
  </div>
  <div style = "padding-top:0px!important" class="form-group">
  <input ng-model = "ACT"  placeholder="ACT Score (out of 36)" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
	</div>

	<div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "SAT" style = " margin-top: 15px" placeholder="SAT Score (Reading + Math)" type="text" class="form-control form-control-success input-box" id="inputSuccess1">

	</div>

    <div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "ASVAB" style = "margin-top: 15px" placeholder="ASVAB Score" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
  </div>

	<div style = "padding-top: 0px!important" class="form-group">
  <input ng-model = "WGPA" style = "margin-top: 15px" placeholder="Weighted GPA" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
  </div>
  <div style = "padding-top:0px!important" class="form-group">
  <input ng-model = "UWGPA" placeholder="Unweighted GPA" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
	</div>

    <div style = "padding-top:0px!important" class="form-group">
  <input ng-model = "course" placeholder="Favorite Course Subject" type="text" class="form-control form-control-success input-box" id="inputSuccess1">
  </div>



  <button ng-click = "next_reg()" style = "padding-bottom: 10px; width: 100%; " class = "btn btn-success input-box">Continue</button>


</div>
</div>