<div style="width: 100%; height: 100%; background-color: transparent;overflow: scroll;margin-top: 50px	; " id="scroll2"
  ng-controller="ProfileController">
  <style>
    h2 {

      font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    }

    hr {
      height: 10px !important;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    h4 {
      color: #666;
      text-align: center;
      font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    }

    h5 {
      margin-left: 10px;
      color: gray;
      font-size: 15px;
      font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

    }

    .edit {
      float: right;
      margin-right: 20px;
      margin-top: 10px;
      width: 20px;
      height: 7px;
      margin-right: 20px;
      color: #79B50F;
      outline-width: 0;

    }

    .replacement {
      border-style: none;
      outline-width: 0;
      width: 80%;
      height: 100%;
      margin-left: 10px;
    }

    .video_input {
      border-style: none;
      outline-width: 0;
      width: 100%;
      height: 30px;
      padding-left: 5px;
      margin-bottom: 10px;

    }

    .videoBox {
      width: 100%;
    }
  </style>


  <div class="cont">



    <div class="row full-height">
      <div class="col-sm-8 col-md-8 col-lg-8 full-height">
        <div class="scroll-container">
          <div class="sidebar">
            <div class="background-image" style="background-image: linear-gradient(
						rgba(20,20,20, .5), 
						rgba(20,20,20, .5)),
						url('/images/backgrounds/{{background}}');"></div>
            <div class="main-profile module-box">
              <div class="main-image-container">
                <label for="file" class="label-image"><img ng-src="{{user.profileImage}}" style="object-fit: cover"
                    class="profile_image_lg"></img></label>
                <input ng-if="!self" onchange="angular.element(this).scope().doUpload()" type="file" name="file"
                  id="file" class="inputfile" />

              </div>
              <h2>
                {{user.name}}
              </h2>
              <h4>{{user.city}} {{user.state}} &middot; {{user.highschool}}</h4>
              <div class="bio-container">
                <h4>
                  {{user.bio}}
                </h4>
              </div>
              <button ng-click="show_email()" class="btn btn-success" ng-hide="!self || email_showing">Email
                Coach</button>
              <div style="height:20px"></div>
            </div>


            <button class="btn btn-block btn-lg btn-success m-5" ng-click="navigateToSearch()" ng-hide="coach">Search
              for Coaches</button>
            <br>
            <div class="module-box" ng-hide="!email_showing"
              style="margin-bottom: 20px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
              <p class="section-header">Email Contents</p>
              <textarea rows="10" cols="500" style="width: 100%; resize: none;"
                ng-model="text_area_message" readonly>Write you email here.</textarea>
              <button ng-click="cancel_email()" class="btn" ng-hide="!self" style="float: right">Cancel</button>
              <button ng-click="send_email()" class="btn btn-success" ng-hide="!self">Send</button>
            </div>
            <!-- Basic information -->
            <div class="module-box">
              <p class="section-header">Basic Information</p>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>Sport</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.sport"
                    ng-change="options_sport=true">
                  <h5 ng-hide="!self">{{user.sport}}</h5>
                  <p class="edit" ng-hide="!options_sport || self"
                    ng-click="save_edit('sport', user.sport); options_sport=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>City</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.city"
                    ng-change="options_city=true">
                  <h5 ng-hide="!self">{{user.city}}</h5>
                  <p class="edit" ng-hide="!options_city || self"
                    ng-click="save_edit('city', user.city); options_city=false">Save</p>
                </div>
              </div>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>Email</h5>
                </div>
                <div class="right-piece">
                  <h5>{{user.email}}</h5>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>State</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.state"
                    ng-change="options_state=true">
                  <h5 ng-hide="!self">{{user.state}}</h5>
                  <p class="edit" ng-hide="!options_state || self"
                    ng-click="save_edit('state', user.state); options_state=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>Position</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.sportPosition"
                    ng-change="options_sportPosition=true">
                  <h5 ng-hide="!self">{{user.sportPosition}}</h5>
                  <p class="edit" ng-hide="!options_sportPosition || self"
                    ng-click="save_edit('sportPosition', user.sportPosition); options_sportPosition=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>School</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.highschool"
                    ng-change="options_highschool=true">
                  <h5 ng-hide="!self">{{user.highschool}}</h5>
                  <p class="edit" ng-hide="!options_highschool || self"
                    ng-click="save_edit('highschool', user.highschool); options_highschool=false">Save</p>
                </div>
              </div>

            </div>
            <br>
            <!-- Basic information -->
            <div class="module-box" ng-hide="coach">
              <p class="section-header">Physical Attributes</p>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>Height</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.height"
                    ng-change="options_height=true">
                  <h5 ng-hide="!self">{{user.height}}</h5>
                  <p class="edit" ng-hide="!options_height || self"
                    ng-click="save_edit('height', user.height); options_height=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>Weight</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.weight"
                    ng-change="options_weight=true">
                  <h5 ng-hide="!self">{{user.weight}}</h5>
                  <p ng-src="/images/pen.png" class="edit" ng-hide="!options_weight || self"
                    ng-click="save_edit('weight', user.weight); options_weight=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>Grade</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.age"
                    ng-change="options_age=true">
                  <h5 ng-hide="!self">{{user.age}}</h5>
                  <p ng-src="/images/pen.png" class="edit" ng-hide="!options_age || self"
                    ng-click="save_edit('age', user.age); options_age=false">Save</p>
                </div>
              </div>
            </div>
            <br>
            <!-- Basic information -->
            <div class="module-box" ng-hide="coach">
              <p class="section-header">Academic Record</p>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>SAT</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.SAT"
                    ng-change="options_SAT=true">
                  <h5 ng-hide="!self">{{user.SAT}}</h5>
                  <p class="edit" ng-hide="!options_SAT || self"
                    ng-click="save_edit('SAT', user.SAT); options_SAT=false">Save</p>
                </div>
              </div>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>ACT</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.ACT"
                    ng-change="options_ACT=true">
                  <h5 ng-hide="!self">{{user.ACT}}</h5>
                  <p class="edit" ng-hide="!options_ACT || self"
                    ng-click="save_edit('ACT', user.ACT); options_ACT=false">Save</p>
                </div>
              </div>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>Weighted GPA</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.WGPA"
                    ng-change="options_WGPA=true">
                  <h5 ng-hide="!self">{{user.WGPA}}</h5>
                  <p width="20" s class="edit" ng-hide="!options_WGPA || self"
                    ng-click="save_edit('WGPA', user.WGPA); options_WGPA=false">Save</p>
                </div>
              </div>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>Unweighted GPA</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.UWGPA"
                    ng-change="options_UWGPA=true">
                  <h5 ng-hide="!self">{{user.UWGPA}}</h5>
                  <p class="edit" ng-hide="!options_UWGPA || self"
                    ng-click="save_edit('UWGPA', user.UWGPA); options_UWGPA=false">Save</p>
                </div>
              </div>
              <div class="data-piece">
                <div class="left-piece">
                  <h5>ASVAB</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.ASVAB"
                    ng-change="options_ASVAB=true">
                  <h5 ng-hide="!self">{{user.ASVAB}}</h5>
                  <p class="edit" ng-hide="!options_ASVAB || self"
                    ng-click="save_edit('ASVAB', user.ASVAB); options_ASVAB=false">Save</p>
                </div>
              </div>

              <div class="data-piece">
                <div class="left-piece">
                  <h5>Favorite Course</h5>
                </div>
                <div class="right-piece">
                  <input ng-hide="self" type="text" name="lname" class="replacement" ng-model="user.favoriteSubject"
                    ng-change="options_favoriteSubject=true">
                  <h5 ng-hide="!self">{{user.favoriteSubject}}</h5>
                  <p class="edit" ng-hide="!options_favoriteSubject || self"
                    ng-click="save_edit('favoriteSubject', user.favoriteSubject); options_favoriteSubject=false">Save
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 allpadding">
        <div class="main-content">
          <input ng-hide="self" type="text" name="lname" class="video_input" placeholder="Upload Youtube Link"
            ng-model="user.videoLink" ng-change="options_videoLink=true">
          <iframe ng-hide="!checkUrl(get_embed_link(user.videoLink))" class="videoBox" height=200
            src={{get_embed_link(user.videoLink)}}>
          </iframe>
          <button ng-hide="!options_videoLink || self"
            ng-click="save_edit('videoLink', user.videoLink); options_videoLink=false"
            style="padding-bottom: 10px; width: 100%; margin-top: 15px; height: 40px" class="btn btn-success">Save
            Video</button>

        </div>

      </div>
    </div>
  </div>




</div>
</div>