<div style = "width: 100%; height: 100% " ng-controller = "Reg1Controller">
	<div style = "width: 100%; text-align: center; float:left; margin:auto" class = "row">
		<img  style = "width: 60px; padding-top: 10px; margin:auto" src = "images/logo-240.png"></img>
		<hr style = "background-color: #999;">
	</div>
	<div class="{{loading_ng_hide}}" style = "width: 400px; margin:auto" >
		<p>Processing payment...</p>
	</div>
	<div style = "width: 400px; margin: auto" class="{{main_ng_hide}}" >
		<input ng-model = "affilicaetsessionuuid" type="hidden" value="{{affilicaetsessionuuid}}" name="affilicaetsessionuuid" />
		<input ng-model = "affilicaethitid" type="hidden" value="{{affilicaethitid}}" name="affilicaethitid" />
		<div style = "padding-top:15px!important" class="form-group {{name_status}} has-feedback">
			<input ng-change = "editing_name()" ng-model = "name" style = "font-size: 20px; height: 40px" placeholder="Full Name" type="text" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[0]" style = "margin-top: 115px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
			<div style = "color: red" ng-hide = "hide_name" >{{name_error}}</div>
		</div>
		<div style = "padding-top: 0px!important" class="form-group {{username_status}} has-feedback">
			<input ng-change = "editing_username()" ng-model = "username" style = "font-size: 20px; height: 40px; margin-top: 15px" placeholder="Username" type="text" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[1]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
			<div style = "color: red" ng-hide = "hide_username" >{{username_error}}</div>
		</div>
		<div style = "padding-top: 0px!important" class="form-group {{email_status}} has-feedback">
			<input ng-change = "editing_email()" ng-model = "email" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Email Address" type="text" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[2]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
			<div style = "color: red" ng-hide = "hide_email" >{{email_error}}</div>
		</div>
		<div style = "padding-top: 0px!important" class="form-group {{password_status}} has-feedback">
			<input ng-change = "editing_password()" ng-model = "password" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Password" type="password" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[3]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
			<div style = "color: red" ng-hide = "hide_password" >{{password_error}}</div>
		</div>
		<div style = "padding-top: 0px!important" class="form-group {{confirm_status}} has-feedback">
			<input ng-change = "editing_confirm()" ng-model = "confirm" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Confirm Password" type="password" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[4]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
			<div style = "color: red" ng-hide = "hide_confirm" >{{confirm_error}}</div>
		</div>
		<!--<div style = "padding-top: 0px!important" class="form-group {{promo_status}} has-feedback">
			<input ng-change = "editing_promo()" ng-model = "promo" style = "font-size: 20px; height: 40px;margin-top: 15px" placeholder="Promo Code" type="text" class="form-control form-control-success" id="inputSuccess1">
			<i ng-hide = "user.check[5]" style = "margin-top: 2px; color: green" class="glyphicon glyphicon-ok form-control-feedback"></i>
		</div>-->
		<div class="col-auto my-1">
			<select class="custom-select mr-sm-2" id="state-select" style = "font-size: 20px; height: 40px; width: 100%" ng-model="subscription_select" ng-options="x for x in subtypes">
			</select>
		</div>
		

		<!-- pk_test_E3pXUyXpsl0FmYgPAlLqVTFN -->
		<!-- pk_live_mk8EAZMtq4Kd3akq9hLMXPzy -->
		<button  ng-click="onStripe('pk_live_mk8EAZMtq4Kd3akq9hLMXPzy')" style = "padding-bottom: 10px; width: 100%; margin-top: 15px; height: 40px" class = "btn btn-success">Continue</button>
	</div>

</div>