<div ng-controller = "Reg3Controller" style = "width: 100%; height: 100%;">
	<div style = "width: 100%; text-align: center;float:left;margin:auto" class = "row">
		<img  style = "width: 60px; padding-top: 10px;margin:auto" src = "images/logo-240.png"></img>
		<hr style = "background-color: #AAA;">
	</div>
<div clsss = "row">
	<div class = "col-sm-3 col-lg-4 col-md-4 "></div>
		<div class = "col-sm-6 col-lg-4 col-md-4 " style ="text-align: lefts">
			<div style = "padding-top:15px!important" class="form-group {{verify_status}}">
				<label>Please enter the verification code sent to your phone. </label>
				<input ng-change = "editing_verify()" ng-model = "verify" style = "font-size: 20px; height: 40px" placeholder="5555" type="text" class="form-control form-control-success" id="inputSuccess1">
				<div style = "color: red" ng-hide = "hide_verify" >{{verify_error}}</div>
			</div>
		<button ng-click = "next_reg()" style = "padding-bottom: 10px; width: 100%; margin-top: 0px; height: 40px" class = "btn btn-success">Continue</button>
		<br>
		<br>
		</div>
		<div class = "col-sm-3 col-lg-4 col-md-4"></div>
	</div>
</div>