<style>
  #coach-table-wrap {
    /* height: 80vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
  }

  /* 
  .inner-grid {
    height: 80vh;
  }

  @media only screen and (max-width: 991px) {
    #coach-table-wrap {
      height: 80vh;
    }

    .inner-grid {
      height: 100%;
    }
  } */
</style>


<div class="temp-results" ng-controller="CoachesController as $ctrl">

  <div class="jumbotron ">
    <div class="container  ">

      <h1>Results</h1>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <p>Showing results for:
            <strong ng-if="originalSearch.division">{{ originalSearch.division }}</strong>
            <strong ng-if="originalSearch.sport">{{ originalSearch.sport }}</strong>
            <span
              ng-if="originalSearch.sport && originalSearch.state || originalSearch.division&& originalSearch.state"> in
            </span>
            <strong ng-if="originalSearch.state">{{ fullStateName }}</strong>
          </p>
          <p>Total Results: <strong>{{ resultsCount }}</strong></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <a href="/#!/search" title="search" class="btn btn-success">Change Search</a>
        </div>
      </div>

    </div>
  </div>

  <div id="coach-table-wrap">
    <div class="inner-grid" ng-include="'templates/coaches_table/coaches_table.html'"></div>
  </div>
</div>