<!-- <script type="text/ng-template" id="myPopoverTemplate2.html">
       <div style = "height: 30px;margin-bottom: 5px; border-bottom-color: #DDD;border-bottom-style: solid; border-bottom-width: 1px"><a style = "color: black" ng-click = "view_profile()">View Profile</a></div>
       <div><a style = "color: black" ng-click = "contact()">Message</a></div>
</script>

<script type="text/ng-template" id="mailTemplate.html">
        <div class = "emailContainer">
        <p style = "font-size: 20px; margin-top: 15px "><b> To: </b>&nbsp;&nbsp; {{eoi}}</p>
        <p style = "font-size: 20px; margin-top: 10px"><b> Subject: </b>&nbsp;&nbsp; iConnect2Colleges Profile</p>
        <p style = "font-size: 20px; margin-top: 10px"><b> Message: </b></p>
        <textarea  ng-model = "email_text" class="form-control" rows="5" id="comment" style = "font-size: 20px; height: 300px;">{{email_text}}
</textarea>
        <button ng-click="sendEmail()" class = "btn btn-success" style = "width: 100%; margin-bottom">Send</button>
</script> -->
<!-- <style>
  .select2>.select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
  }

  .selectize-control>.selectize-dropdown {
    top: 36px;
  }

  /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
  .select-box {
    background: #fff;
    position: relative;
    z-index: 1;
  }

  .alert-info.positioned {
    margin-top: 1em;
    position: relative;
    z-index: 10000;
    /* The select2 dropdown has a z-index of 9999 */
  }
</style> -->

<style>
  .bg-brand {
    background: #7bb12c;
  }

  .jumbotron h1 {

    text-shadow: 0px 1px 4px #000;
  }

  .temp-form-styles {
    /* padding: 200px; */
    display: flex;
    flex-direction: column;
  }

  .form-group {
    /* display: flex; */
    flex-direction: row;
    width: 100%;
  }

  label,
  select {
    display: block;
  }

  #banner-row {
    display: flex;
    align-items: flex-end;
  }


  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {}

  @media (max-width: 990px) {
    .bg-overlay {
      background: transparent;
    }
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .bg-overlay {
      margin-top: 100px;
    }


  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .teen-banner-thin {
      margin-top: 10px;
      min-height: 40vh;
      display: flex;

    }

    #search-row {
      display: flex;
    }

    #search-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 10px;
    }

  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {}
</style>
<div ng-controller="CoachSearchController">
  <div class="jumbotron teen-banner-thin-dark teen-banner">
    <div class="container bg-overlay border-round ">
      <div class="row" id="banner-row">
        <div class="col-md-10 ">
          <h1 class="text-white">Search</h1>
          <p class="hidden-sm hidden-xs unbold text-white text-shadow ">
            Explore our powerful data base of 25,000 current head coaches of all sports for NCAA Colleges and Universities at (Division I, II, III), NAIA and Junior Colleges. Find coaches names and emails in seconds. If your goal is to get connected to college coaches with the hopes of getting recruited, Iconnect2colleges is the best source to help. 
          </p>
        </div>
        <div class="col-md-2z">
          <!-- <img src="/images/balls.png" class="img-reponsive w-100" /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="hidden-md hidden-lg hidden-xl">
          Explore our powerful data base of 25,000 current head coaches of all sports for NCAA Colleges and Universities at (Division I, II, III), NAIA and Junior Colleges. Find coaches names and emails in seconds. If your goal is to get connected to college coaches with the hopes of getting recruited, Iconnect2colleges is the best source to help. 
        </p>
      </div>
    </div>
  </div>
  <form ng-submit="handleSubmitSearch()" class="container">
    <div class="row" id="search-row">

      <div class="col-md-3">
        <div class="form-group">
          <label class="h4">Type of Sport</label>
          <ui-select class="" id="state-select" ng-model="search.sport">
            <ui-select-match placeholder="Select a Sport">{{search.sport.label}}</ui-select-match>
            <ui-select-choices repeat="sport in sports track by sport.id">
              <small>
                {{sport.label}}
              </small>
            </ui-select-choices>
          </ui-select>

        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="h4">NCAA Division</label>
          <ui-select class="" id="state-select" ng-model="search.division">
            <ui-select-match placeholder="Select a Division">{{search.division.label}}</ui-select-match>
            <ui-select-choices repeat="division in divisions track by division.id">
              <small>
                {{division.label}}
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label class="h4">State</label>
          <ui-select class="" id="state-select" ng-model="search.state">
            <ui-select-match placeholder="Select a State">{{search.state.label}}</ui-select-match>
            <ui-select-choices repeat="state in states track by state.id">
              <small>
                {{state.label}}
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-3 " id="search-button">
        <button type="submit" class="btn btn-block btn-lg btn-success">Search</button>
      </div>
    </div>


  </form>

  <!-- <div class="container animate-up" style="overflow:scroll;  overflow-y: scroll"> -->
  <!-- <div class="row" style="text-align: center; margin-top: 30px">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 {{selected1}}" ng-click="channge_selected_1()">
        <p class="{{selected1}}">People</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 {{selected2}}" ng-click="channge_selected_2()">
        <p class="{{selected2}}">School</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 {{selected3}}" ng-click="channge_selected_3()">
        <p class="{{selected3}}">Sport</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>

    </div> -->


  <!-- <div style="text-align: center; margin-top: 20px;" ng-hide='selected3 == "bold"'>
      <div style="width: 200px; margin: auto">
        <div class="account-section-setting" style="width: 100px; float: left; margin-top:5px;">
          <input type="checkbox" class="css-checkbox lrg" id="checkbox1" ng-click="check(0)" ng-model="checked[0]"
            ng-checked="{{checked[0]}}" />
          <label for="checkbox1" name="checkbox1_lbl" class="css-label lite-green-check">Player</label>

        </div>
        <div class="account-section-setting" style="width: 100px; float: left;margin-top:5px;">
          <input type="checkbox" class="css-checkbox lrg" id="checkbox2" ng-click="check(1)" ng-model="checked[1]"
            ng-checked="{{checked[1]}}" />
          <label for="checkbox2" name="checkbox2_lbl" class="css-label lite-green-check">Coach</label>
        </div>
      </div>
    </div>


    <ui-select ng-click="checkSelected()" ng-hide="selected3 != 'bold' " ng-model="control.selected" theme="selectize"
      ng-disabled="ctrl.disabled" style="width: 100%; margin-top:5px;" title="Choose a country">
      <ui-select-match placeholder="Pick a {{pick}}">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="sport in sports | filter: $select.search">
        <span ng-bind-html="sport.name | highlight: $select.search"></span>
      </ui-select-choices>

    </ui-select>



    <input style="background-color: white; text-align: center" ng-model="searchText" ng-change="searchEdited()"
      class="searchbar" placeholder="{{searching}}"></input>



    <div ng-repeat="return in search_return">
      <div class="search-body-search" ng-hide="return.coach">
        <div style="height: 90px; width: 100px; float: left">
          <img src="{{return.profileImage}}" style="float: left; height: 90px; width: 90px; object-fit: cover;"
            class="search_profile_image"></img>
        </div>
        <div class="person_info" style="width: calc(100%-200px;); float: left"
          ng-click="change_poi_redirect(return.id, return.username)">
          <p style="font-weight: bold; font-size: 20px; float: left; width: 100%; margin-top: 15px; height: 20px;">
            {{return.name}}</p>
          <p style="font-size: 16px; float: left; width:100%; color: #999;">{{return.sportPosition}}</p>
        </div>
        <div>
          <button popover-placement="bottom-right"
            style="float: right; background-color: transparent;border-style: none" uib-popover-template="template"
            type="button"><img
              ng-click="change_poi(return.id, return.username, return.email, return.name, return.isVerified)"
              src="images/elipsis.png" width="20"
              style="width: 20px; float: right; margin:8px; background-color: transparent; border-style: none "></img></button>
        </div>
      </div>


      <div class="search-body-search" ng-hide="return.player">
        <div style="height: 90px; width: 100px; float: left">
          <img src="{{return.profileImage}}" style="float: left; height: 90px; width: 90px; object-fit: cover;"
            class="search_profile_image"></img>
        </div>
        <div class="person_info" style="width: calc(100%-200px;); float: left"
          ng-click="change_poi_redirect(return.id, return.username)">
          <p style="font-weight: bold; font-size: 20px; float: left; width: 100%; margin-top: 15px; height: 20px;">
            {{return.name}}</p>
          <p style="font-size: 16px; float: left; width:100%; color: #999;">{{return.sport}} coach at
            {{return.highschool}}</p>
        </div>
        <div>

          <button popover-placement="bottom-right"
            style="float: right; background-color: transparent;border-style: none" uib-popover-template="template"
            type="button"><img
              ng-click="change_poi(return.id, return.username,return.email, return.name, return.isVerified)"
              src="images/elipsis.png" width="20"
              style="width: 20px; float: right; margin:8px; background-color: transparent; border-style: none "></img></button>
        </div>
      </div>
    </div>
    <div style="width: 100%; text-align: center; height: 150px;">
      <div class="pagination" ng-hide="!searched">
        <a ng-click="minus()">&laquo;</a>
        <a ng-click="activate(0)" class="{{active[0]}}">{{i}}</a>
        <a ng-hide="max_page<2" ng-click="activate(1)" class="{{active[1]}}">{{i+1}}</a>
        <a ng-hide="max_page<3" ng-click="activate(2)" class="{{active[2]}}">{{i+2}}</a>
        <a ng-hide="max_page<4" ng-click="activate(3)" class="{{active[3]}}">{{i+3}}</a>
        <a ng-hide="max_page<5" ng-click="activate(4)" class="{{active[4]}}">{{i+4}}</a>
        <a ng-hide="max_page<6" ng-click="activate(5)" class="{{active[5]}}">{{i+5}}</a>
        <a ng-click="plus()">&raquo;</a>
      </div>
    </div> -->



  <!-- </div> -->
</div>