<style>
.privacy_title{
	color: black;
	background-color: white; 
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	margin-top: 20px!important;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 25px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	border-width: 1px;
	height: 80px;

}
.privacy_subtitle{
	color: black;
	background-color: white; 
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	margin-top: 20px!important;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 20px;
	height: 80px;
}

.account-section-setting{
	margin-left: 20px;
	margin-bottom: 10px;
}

</style>
<div style = "width: 100%; height: 100%; " ng-controller = "SettingsController" >
  <div style = "background-color: white; height: 100vh;">
  <div class = "container animate-up privacy_title">Privacy Settings</div>

  <div class = " privacy_subtitle">Social Settings</div>
  <div class="account-section-setting">
    <input  type="checkbox" class="css-checkbox lrg" id="checkbox1" ng-click = "check(0)" ng-checked = "{{checked[0]}}"/>
	<label for="checkbox1" name="checkbox1_lbl" class="css-label lite-green-check">Allow Facebook Connection</label>
    
  </div>
  <div class="account-section-setting">
    <input  type="checkbox" class="css-checkbox lrg" id="checkbox2"  ng-click = "check(1)" ng-checked="{{checked[1]}}"/>
	<label for="checkbox2" name="checkbox2_lbl" class="css-label lite-green-check">Allow Google Connection</label>
    
  </div>
  <div class = "privacy_subtitle">Email Settings Settings</div>

  <div class="account-section-setting">
    <input  type="checkbox" class="css-checkbox lrg" id="checkbox3"  ng-click = "check(2)" ng-checked="{{checked[2]}}"/>
	<label for="checkbox3" name="checkbox3_lbl" class="css-label lite-green-check">Receive emails for updates</label>
    
  </div>
   <div class="account-section-setting">
    <input  type="checkbox" class="css-checkbox lrg" id="checkbox4"  ng-click = "check(3)" ng-checked="{{checked[3]}}"/>
	<label for="checkbox4" name="checkbox4_lbl" class="css-label lite-green-check">Receive emails for friends joining</label>
    
  </div>
   <div class="account-section-setting">
    <input  type="checkbox" class="css-checkbox lrg" id="checkbox5"  ng-click = "check(4)" ng-checked="{{checked[4]}}"/>
	<label for="checkbox5" name="checkbox5_lbl" class="css-label lite-green-check">Receive emails messages</label>
    
  </div>
  <br>
  <br>
 	<button ng-click = "contacts()" class = "btn btn-success" style = "width: 260px;">Add new contacts</button>
 
  </div>

 


  </div>
</div>