<style>
h1{
  font-size: 30px;
}
h2{
  font-size: 25px;
}
p{
  font-size: 20px;
}
body{
  background-color: #FFFFFF!important;
}
</style>
<script type="text/ng-template" id="myPopoverTemplate.html">

       <div  class="form-group" style = "width: 200px; margin-top: 0px; padding-top: 0px;">
          <label style = "color: red;">{{login_error_text}}</label>
          <label>Email/Username</label>
          <input ng-model = "user.user_email" type="text" class="form-control">
          <label>Password</label>
          <input ng-model = "user.password" type="password" class="form-control">
          <input type="submit" class = "btn btn-success" ng-click = "signin()" style = "width: 100%; margin-top: 15px;"></input>

        </div>
        <div style = "text-align: center">
    <a ng-click = "forgotPassword()" style = "font-size: 10px;">Forgot password?</a>
    </div>

  </script>

<div  ng-controller = "HomeController" id="scroll"  style = "width:100%; overflow: auto; height:100vh;overflow-x: hidden;">
<nav id = "nav_orig" class="navbar navbar-default navbar-default-2 navbar-default-home navbar-fixed-top navbar_home" style = "background-color: #232A31">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <img src="images/logo-noa.png" id = "navlogo" class = "navlogo"  height = "35" />
        <img src="images/appstore.png" id = "navlogo2" class = "navlogo2"  class = "hidden-xs" height = "50" />
        <img src="images/googleplay.png"  id = "navlogo3" class = "navlogo3" class = "hidden-xs" height = "50" />
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-nav-home navbar-right" >
      <li  style = "margin-top: 12px; margin-left: 10px;"><a class = "nav_a" href = "#!/home#about" style = "font-weight: 300;">About</a></li>
      <li  style = "margin-top: 12px; margin-left: 10px; "><a class = "nav_a" href = "#!/home#team" style = "font-weight: 300;">Our Team</a></li>
      <li  style = "margin-top: 12px; margin-left: 10px; "><a class = "nav_a" href = "#!/privacy" style = "font-weight: 300;">Privacy Policy</a></li>

      <li  style = "margin-top: 12px; margin-left: 10px; margin-right: 10px;"><a class = "nav_a" href = "#!/home#contact" style = "font-weight: 300;">Contact</a></li>
        <li>
     <button popover-placement = "bottom-right" uib-popover-template="template" popover-title="Sign in" type="button" class=" nav_btn btn btn-success btn-sm sign-in">Sign In</button>
         </li>
      </ul>
    </div>
  </div>
</nav>



<div class = "container" style = "padding-top: 100px;">
<h1>TERMS OF SERVICE</h1>
<br>
<p>
Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
<br><br>
Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.
</p>

<br><h2>ONLINE STORE TERMS</h2><br>

<p>
By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
You must not transmit any worms or viruses or any code of a destructive nature.
A breach or violation of any of the Terms will result in an immediate termination of your Services.
</p>

<br><h2>GENERAL CONDITIONS</h2><br>
<p>
We reserve the right to refuse service to anyone for any reason at any time.
You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
</p>




</div>

<section style = "background-color: black" name ="contact" id = "contact">
<div class = "row">
  
<p style ="font-size: 12px; color: white; width: 100%;height: 30px; text-align: center; margin-bottom: 0px;padding-top: 7px"><a style = "color: white" href = "http://linkerlogic.com/">© 2017 Linker Logic Technologies. All Rights Reserved.</a></p>


</div>

</section>